:host {
	background-color: var(--wp-deep-blue);
	box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px,
		rgba(27, 31, 35, 0.15) 0px 0px 0px 1px;
	color: var(--wp-alt-white);
	cursor: default;
	border-radius: calc(var(--wp-border-radius) * 1.25);
	display: inline-block;
	padding: 0.35em;
	width: fit-content;
}

a {
	color: inherit;
}