:host {
	cursor: pointer;
	display: inline-block;
	min-width: fit-content;
	pointer-events: all;
}

button {
	backface-visibility: hidden;
	border-color: transparent;
	border-width: 2px;
	border-style: solid;
	border-radius: var(--wp-border-radius);
	cursor: pointer;
	font-family: var(--wp-font-stack);
	font-size: 14px;
	font-weight: 500;
	font-kerning: normal;
	text-rendering: optimizeLegibility;
	text-size-adjust: auto;
	transition: border 0.25s, color 0.75s, box-shadow 550ms, border-color 0.65s ease-in-out;
	position: relative;
	pointer-events: all;

	&[disabled] {
		background: var(--wp-slate);
		cursor: default;
		pointer-events: none;
	}

	&:hover {
		box-shadow: var(--shadow-0);
	}
}

slot {
	align-items: center;
	display: flex;
	justify-content: space-evenly;
}

::slotted(img) {
	max-height: 24px;
	max-width: 24px;
	margin: 0 0.35em;
}

.wp-button {
	align-items: center;
	backface-visibility: hidden;
	border-color: transparent;
	display: grid;
	place-content: center;
	margin: 0.15em 0.05em 0.2em;
	padding: 0.45rem 1.5rem;
	text-align: center;
	z-index: 2;

	@media (prefers-reduced-motion: no-preference) {
			transition: border 0.25s, color 0.75s, box-shadow 550ms,
				border-color 0.65s ease-in-out, background-color .45s;
	}

	&--xs {
		width: var(--wp-btn-xs-width);
	}

	&--sm {
		width: var(--wp-btn-sm-width);
	}

	&--md {
		width: var(--wp-btn-md-width);
	}
	&--lg {
		width: var(--wp-btn-lg-width);
	}

	&--primary {
		background-color: var(--wp-calm-blue);
		color: var(--wp-base-white);
		&:hover {
			background-color: var(--wp-deep-blue);
		}
	}
	
	&--secondary {
		background-color: var(--wp-light-purple);
		color: var(--wp-base-white);
		&:hover {
			background-color: var(--wp-dark-purple);
		}
	}

	&--confirm {
		background-color: var(--wp-light-green);
		color: var(--wp-base-white);
		
		&:hover {
			background-color: var(--wp-dark-green);
		}
	}

	&--danger {
		background-color: var(--wp-red);
		color: var(--wp-base-white);

		&:hover {
			background-color: var(--wp-red-dark);
		}
	}
}

#content {
	color: inherit;
	display: block;
	text-decoration: none;
}