html
	include ./head.pug
body
	wp-fade-up 
		
		wp-container
			wp-nav(icon='https://avatars.githubusercontent.com/u/107771433?s=200&v=4')
				wp-nav-item(href='#item1')
				wp-nav-item(is-cta, href='#cta0') Call to Action
			wp-divider
			wp-typography(block)
				h1 Buttons
				wp-divider 
				wp-typograhy Filled
				wp-button Primary
				wp-button(color='secondary') Secondary
				wp-button(color='danger') Danger
				wp-button(color='confirm') Confirm
				wp-divider 
				wp-typography Outlined 
				wp-button(variant='outline') Primary
				wp-button(variant='outline', color='secondary') Secondary
				wp-button(variant='outline', color='danger') Danger
				wp-button(variant='outline', color='confirm') Confirm
				wp-divider 
				wp-typography Hovertext
				wp-button(variant='hover') Primary
				wp-button(variant='hover', color='secondary') Secondary
				wp-button(variant='hover', color='danger') Danger
				wp-button(variant='hover', color='confirm') Confirm
				wp-divider 
